<!DOCTYPE html>
<html>

<head>
  <title>Kinect Security System</title>
  <link rel="stylesheet" type="text/css" href="/kinlarm.css"/>
  <script type="text/javascript" src="/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/underscore-1.4.2.min.js"></script>
  <script type="text/javascript" src="/kinlarm.js"></script>
</head>

<body>
  <div class="state">State: <b id="state">Loading...</b></div>

  <div class="Buttons">Actions:
    <form action="#">
      <input type="button" onclick="setstate('disarmed')" value="Disarm"></input>
      <input type="button" onclick="setstate('arming')" value="Arm"></input>
      <input type="button" onclick="setstate('alarm')" value="Alarm"></input>
      <input type="button" onclick="setstate('silenced')" value="Silence"></input>
    </form>
  </div>

  <div id="cameras">
  </div>

  <script type="text/template" id="camera-template">
    <div class="camera">
      <div class="stream">
        <img src="/video/<%=device_num%>" width="480" height="360"></img>
        <br/>
        Video
      </div>
      <div class="stream">
        <img src="/depth/<%=device_num%>" width="480" height="360"></img>
        <br/>
        Depth
      </div>
    </div>
  </script>

</body>
</html>
